<!DOCTYPE html>
<html 
	xmlns="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:cervas="http://cervas.com">

<head>
	<title>Cadastro de cidade</title>
	<link rel="stylesheet" type="text/css" href="/custom/stylesheets/showmore-default.css"/>
	<link rel="stylesheet" type="text/css" href="/custom/stylesheets/cervas.css"/>
</head>
<body>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">

		<!--Titulo do cadastro-->
		<div class="page-header">
			<div class="container-fluid">
				<div class="col-xs-10">
					<h1 class="titulo">
						Cadastro de Cidade
					</h1>
				</div>	
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a th:href="@{/cidades}" class="btn btn-default">
							<i class="glyphicon glyphicon-search"></i>
							<span class="hidden-xs hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${cidade}" th:action="@{/cidades/novo}">
				
				<!--Bloco de alerta de Erro-->
				<cervas:message/>
	
				<div class="row">

					<div class="form-group col-sm-4 cv-required" cervas:classforerror="estado">
						<label for="estado" class="control-label">Estado</label>
						<select id="estado" class="form-control" th:field="*{estado}">
							<option value="">Selecione o Estado</option>
							<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">Selecione o Estado</option>
						</select>
					</div>

					<div class="form-group col-sm-4 cv-required" cervas:classforerror="nome">
						<label for="nome" class="control-label">Cidade</label>
						<input type="text" id="nome" class="form-control" th:field="*{nome}">
					</div>

				</div>	

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>

		</div>	

	</section>

	<th:block layout:fragment="javascripts">
		<!--Expandir menssagem de erro - Sanfona-->
		<script src="/custom/javascripts/moreText.js"></script>	
		<script src="/vendors/javascripts/jquery.show-more.js"></script>
		<!--Mascaras de Input-->
		<script src="/custom/javascripts/maskText.js"></script>	
		<script src="/vendors/javascripts/jquery.maskMoney.min.js"></script>
		<script src="/custom/javascripts/mask-cpf-cnpj.js"></script>
		<script src="/custom/javascripts/mask-cep.js"></script>	
		<script src="/custom/javascripts/combo-estado-cidade.js"></script>	
	</th:block>	

</body>

</html>