<!DOCTYPE html>
<html 
	xmlns="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Cadastro de cerveja</title>
	<link rel="stylesheet" type="text/css" href="/custom/stylesheets/showmore-default.css"/>
	<link rel="stylesheet" type="text/css" href="/custom/stylesheets/cervas.css"/>
</head>
<body>
	<section class="aw-layout-content  js-content" layout:fragment="conteudo">

		<!--Titulo do cadastro-->
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de cerveja
				</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" th:object="${cerveja}"  class="form-vertical  js-form-loading">
				
				<!--Bloco de alerta de Erro-->
				<div id="js-boxErro" class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
					<button id="fecharErro" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div th:each="erro : ${#fields.detailedErrors()}">
						<i class="fa  fa-exclamation-circle"></i> 
						<span th:text ="${erro.message}"></span>
					</div>
				</div>

				<!--Bloco de Sucesso-->
				<div class="alert alert-success" th:if="${mensagem}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span th:text="${mensagem}"></span>
				</div>

				<div class="row">
					<div class="form-group col-sm-2">
						<label for="sku">SKU</label>
						<input type="text" id="sku" class="form-control" th:field="*{sku}">
					</div>
					<div class="form-group col-sm-10">
						<label for="nome">Nome</label>
						<input type="text" id="nome" class="form-control" th:field="*{nome}">
					</div>
				</div>	

				<div class="row">
					<div class="form-group col-sm-12">
						<label for="descricao">Descricão</label>
						<textarea id="descricao" class="form-control" rows="3" th:field="*{descricao}"></textarea>
					</div>	
				</div>	
				<div class="row">
					<div class="form-group col-sm-3">
						<label for="estilo">Estilo</label>
						<div class="cv-field-action">
							<select name="estilo" id="estilo" class="form-control">
								<option value="">Selecionar estilo</option>
							</select>
							
							<div class="cv-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoEstilo">
									<i class="glyphicon glyphicon-plus-sign cv-glyphicon-large"></i>
								</a>
							</div>
						</div>
						
					</div>

					<div class="form-group col-sm-3">
						<label for="sabor">Sabor</label>
						<select name="sabor" id="sabor" class="form-control">
							<option value="">Selecionar sabor</option>
						</select>
					</div>

					<div class=" form-group col-sm-3">
						<label for="teorAlcoolico">Teor Alcoolico</label>
						<div class="input-group">
							<input id="teorAlcoolico" name="" type="text" class="form-control js-decimal"/>
						<div class="input-group-addon">%</div>
						</div>
					</div>

					<div class="form-group col-lg-3 col-sm-6">
						<label for="origem">Origem</label>
						<div>
							<div class="radio radio-inline">
								<input type="radio" name="origem">
								<label>Nacional</label>
							</div>
							<div class="radio radio-inline">
								<input type="radio" name="origem">
								<label>Internacional</label>
							</div>
						</div>	
					</div>
				</div>

				<div class="row">
					<div class=" form-group col-sm-3">
						<label for="preco">Preço</label>
						<div class="input-group">
							<div class="input-group-addon">R$</div>
							<input id="preco" name="preco" type="text" class="form-control js-decimal"/>
						</div>
					</div>

					<div class=" form-group col-sm-3">
						<label for="comissao">Comissão</label>
						<div class="input-group">
							<input id="comissao" name="comissao" type="text" class="form-control js-decimal"/>
							<div class="input-group-addon">%</div>
						</div>
					</div>

					<div class="form-group col-sm-3">
						<label for="estoque">Estoque</label>
						<input type="text" id="estoque" class="form-control">
					</div>
					
				</div>	
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>

		</div>	

		<div th:replace="modal/cadastroRapidoEstilo :: modal" ></div>
	</section>

	<th:block layout:fragment="javascripts">
		<!--Expandir menssagem de erro - Sanfona-->
		<script src="/custom/javascripts/moreText.js"></script>	
		<script src="/vendors/javascripts/jquery.show-more.js"></script>
		<!--Mascaras de Input-->
		<script src="/custom/javascripts/maskText.js"></script>
		<script src="/vendors/javascripts/jquery.maskMoney.min.js"></script>	
	</th:block>	

</body>

</html>